
.custom-editor {
    background: white;
    border: 0 !important;

    .ql-container.ql-snow{
        height: 200px;
        width: 77.6vw;
    }
}

@media screen and (max-width: 954px) {
    .custom-editor {
        background: white;
        border: 0 !important;
    
        .ql-container.ql-snow{
            width: 93vw;
        }
    }
}

@media screen and (max-width: 769px) {
    .custom-editor {
   
        .ql-container.ql-snow{
            height: 350px;
        }
    }
}

@media screen and (max-width: 328px) {
    .custom-editor {
        background: white;
        border: 0 !important;
    
        .ql-container.ql-snow{
            width: 100vw;
            border-right: 0 !important;
        }
    }
}

@media screen and (max-width: 254px) {
    .custom-editor {
    
        .ql-container.ql-snow{
            width: 100%;
        }
    }
}