@import '../../../base-style';

.title-divider {
    h3 {
        text-align: left;
        font-size: 2.5rem;
        color: $white-color;
        font-weight: bolder;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .divider-block {
        background: $primary-color;
        padding: 2px;
        width: 4rem;
    }
}

@media screen and (max-width: 424px) {
    .title-divider {
        h3 {
            text-align: left;
            font-size: 1.4rem;
            color: $white-color;
            font-weight: bolder;
        }
    
        .divider-block {
            background: $primary-color;
            padding: 1px;
            width: 2rem;
        }
    }
}