@import '../../../base-style';

.msp_container {
    padding: 1rem;
    h3 {
        text-align: center;
        font-size: 40px;
        color: $text-color;
        font-weight: bolder;
        padding: .4rem;
        text-transform: capitalize;
    }
}

.msp_grid-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-content: center;
    row-gap: 3rem;
    padding: 1rem;

    .msp_grid-tiles_background {
        width: 18rem;
        height: 14rem;
        border-radius: 11px;
        box-shadow: -1px 1px 2px 1px hsla(0, 0%, 30%, 0.4);
        padding: .1rem;
        background-color: $secondary-color;
        filter: drop-shadow(0 0 0.17rem $white-color);
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
            filter: drop-shadow(0 0 0.55rem $primary-color);

            a {
                .msp_grid-tiles_item { 
    
                    h4{
                        color: $white-color;
                    }
    
                    span {
                        filter: drop-shadow(0 0 0.35rem $white-color);
        
                        svg {
                            fill: $white-color;
                        }
                    }
                }
            }


        }

        a {
            width: inherit;
            height: inherit;
            border-radius: 11px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .msp_grid-tiles_item {
                width: inherit;
                height: inherit;
                border-radius: 11px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                h4 {
                    margin: 0;
                    padding: .4rem 0 0;
                    color: $text-color;
                    text-align: center;
                    font-size: 28px;
                    font-weight: bold;
                }
    
                span {
    
                    svg {
                        fill: $primary-color;
                    }
                }
    
            }
        }

    }

}

@media screen and (max-width: 904px) {
    .msp_grid-tiles {
        row-gap: 4rem;

        .msp_grid-tiles_background {
            width: 13rem;
            height: 13rem;
            padding: .2rem;

            a {
                .msp_grid-tiles_item {
    
                    p {
                        margin: 0;
                        padding: .3rem 0 0;
                    }
                }
            }

        }
    }
}


@media screen and (max-width: 764px) {
    .msp_grid-tiles {
        grid-template-columns: repeat(1, 1fr);
        padding: .3rem;
        margin: 0 auto;
        row-gap: 2rem;

        h3 {
            font-size: 36px;
        }

        .msp_grid-tiles_background {
            width: 70%;
            height: 14rem;
            padding: .1rem;

            a {
                width: 100%;
                
                .msp_grid-tiles_item {
                    width: 100%;
                }
            }

        }
    }
}


