/** ***********************************************************************
STYLE PALLETTE FOR MAESAN FOUNDATION.
* bg-dark: for any dark background
*overlay-curtain: for dark transparent background or overlay for images
***************************************************************************/

$primary-color : #d4af37;
$primary-color-dark : hsl(46, 65%, 40%);
$secondary-color : #ecf2f5;
$bg-dark : #02142c;
$text-color: #010a14;
$overlay-curtain : hsla(214, 91%, 9%, 0.5);
$overlay-curtain-dark : hsla(214, 86%, 6%, 0.8);
$white-color: aliceblue;
$background-gradient: linear-gradient(90deg, rgb(2, 20, 44) 4%, rgba(2, 20, 44, 0.972) 15%, rgba(2, 20, 44, 0.948) 20%, hsl(206, 7%, 57%) 28%, rgba(212, 175, 55, 0.989) 42%, rgba(212, 175, 54, 0.992) 70%, hsla(46, 65%, 52%, 0.998) 89%, hsl(46, 65%, 52%) 100%);
$background-gradient-mobile: linear-gradient(90deg, rgb(2, 20, 44) 4%, rgba(2, 20, 44, 0.972) 15%, rgba(2, 20, 44, 0.948) 25%, hsla(214, 91%, 10%, 0.938) 39%, hsl(206, 8%, 46%) 51%, rgba(212, 175, 55, 0.988) 68%, rgba(212, 175, 54, 0.992) 70%, hsla(46, 65%, 52%, 0.997) 89%, hsl(46, 65%, 52%) 100%);