/** ***********************************************************************
STYLE PALLETTE FOR MAESAN FOUNDATION.
* bg-dark: for any dark background
*overlay-curtain: for dark transparent background or overlay for images
***************************************************************************/

$primary-color : #d4af37;
$secondary-color : #ecf2f5;
$bg-dark : hsl(214, 91%, 9%);
$overlay-curtain : hsla(214, 91%, 9%, 0.6);
$white-color: aliceblue
