/** ***********************************************************************
STYLE PALLETTE FOR MAESAN FOUNDATION.
* bg-dark: for any dark background
*overlay-curtain: for dark transparent background or overlay for images
***************************************************************************/

$primary-color : #d4af37;
$primary-color-dark : hsl(46, 65%, 40%);
$secondary-color : #ecf2f5;
$success-color : #12b40c;
$error-color : #c71610;
$bg-dark : #02142c;
$bg-grey : #76787a;
$text-color: #010a14;
$overlay-curtain : hsla(214, 91%, 9%, 0.5);
$overlay-curtain-dark : hsla(214, 86%, 6%, 0.8);
$white-color: aliceblue;
$background-gradient: linear-gradient(90deg, hsl(214, 91%, 9%) 4%, hsla(214, 91%, 9%, 0.932) 15%, hsla(214, 91%, 9%, 0.87) 25%, hsl(205, 7%, 67%) 34%, hsla(205, 7%, 67%, 0.932) 42%, hsla(46, 65%, 52%, 0.952) 55%, hsla(46, 65%, 52%, 0.959) 70%, hsla(46, 65%, 52%, 0.973) 89%, #D4AF37 100%);
$background-gradient-mobile: linear-gradient(90deg, rgb(2, 20, 44) 4%, rgba(2, 20, 44, 0.972) 15%, rgba(2, 20, 44, 0.948) 25%, hsla(214, 91%, 10%, 0.938) 39%, hsl(206, 8%, 46%) 51%, rgba(212, 175, 55, 0.988) 68%, rgba(212, 175, 54, 0.992) 70%, hsla(46, 65%, 52%, 0.997) 89%, hsl(46, 65%, 52%) 100%);

.dialog-close-btn
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .4rem;

    button
    {
        width: fit-content !important;
        height: fit-content;
        padding: .2rem;
    }
}

.donation-alert {
    padding: 1rem;

    p {
        text-align: center;
    }

    .donate-link-btn {
        display: block;
        text-align: center;
        border: 0;
        margin-top: 1rem;
        padding: .4rem 1.2rem;
        border-radius: .4rem;
        background: $bg-dark;
        color: $white-color;

        >p {
            text-align: left;
            margin-bottom: .4rem;

            &:not(:first-child) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 3px;
            }

            >button {
                display: flex;
                align-items: center;
                gap: .4rem;
            }
        }
    }
}
