@import '../../../base-style';

.main-editor {
    //styling the editor toolbar.
    div[role='toolbar'] {
        background: white;
        border-bottom: 1px solid grey;
        border-radius: 0 !important;
        padding: 4px 8px;
        display: flex;
        align-items: center;

        >div{
            gap: .7rem;

            >div {
                gap: .6rem;
            }
        }

        button {
            padding: 1px;
            background-color: transparent;
            cursor: pointer;
            width: fit-content;
            
            svg { fill: #687076}
            
            &:hover, &:active, &:focus {
                width: fit-content;
                background-color: #cee1f163 !important;
            }
            &[data-state=on] {
                width: fit-content;
                background-color: #cee7fe !important;
            }
        }
    }

    //styling the link input dialog 
    div[data-radix-popper-content-wrapper] {
        z-index: 500 !important;
    }

    .editable {
        background: white;
        padding: 6px 12px !important;
        min-height: 8rem !important;
        max-height: 24rem !important;
        overflow-y: scroll;
        p {
            margin: 0;
        }

        ul {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

        
        h1, h2, h3, h4, h5, h6 {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        h1 {
            font-weight: 800;
            font-size: 2.25em;
            margin-top: 0;
            margin-bottom: 0.8888889em;
            line-height: 1.1111111;
        }
        h2 {
            font-weight: 700;
            font-size: 1.5em;
            line-height: 1.3333333;
        }
        h3 {
            font-weight: 600;
            font-size: 1.25em;
            line-height: 1.6;
        }
        h4, h5, h6 {
            font-weight: 600;
            line-height: 1.5;
        }

        blockquote {
            font-weight: 500;
            font-style: italic;
            color: rgb(17, 24, 39);
            border-left-width: 0.25rem;
            border-left-color: rgb(229, 231, 235);
            quotes: "\201C""\201D""\2018""\2019";
            margin-top: 1.6em;
            margin-bottom: 1.6em;
            padding-left: 1em;
        }

        img {
            max-width: 100%;
        }
    }
}

.btn-wrapper {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem 0;

    button:nth-child(1):disabled {
        background: grey;
        pointer-events: none;
    }
}

